.chat {
  width: 27%;
  .top,
  .bottom {
    height: 50%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .bottom {
    background-color: #402f87;
  }
}
