.chat {
  width: 27%;
  background: url(https://images.unsplash.com/vector-1738323913204-b6c1c48d793c?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d29ya3xlbnwwfHwwfHx8Mg%3D%3D)
    no-repeat center;
}
