.auth {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: url("https://yaart-web-alice-images.s3.yandex.net/148edd3e043e11f182eacae094644fc9:1")
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    position: absolute;
  }
  .authForm {
    background: rgba(255, 255, 255, 0.192);
    box-shadow: inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
      inset + 0.75px +0.5px rgba(255, 255, 255, 0.025);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    height: 370px;
    h2 {
      color: #fff;
      text-align: center;
      padding-bottom: 20px;
    }
    .header {
      display: flex;
      // gap: 20px;
      align-items: center;
      border-radius: 15px;
      background-color: rgb(243, 243, 243);
      margin-bottom: 40px;
      .login,
      .register {
        padding: 10px;
        border-radius: 15px;
        color: #fff;

        text-align: center;
        font-size: 13px;
        cursor: pointer;
      }
      .login,
      .register {
        width: 50%;
        color: #000;
        transition: all 0.5s ease;
      }
      .active {
        background: rgba(46, 38, 86, 0.897);
        box-shadow: 4px 10px 8px 0px rgba(34, 60, 80, 0.2);
        color: #fff;
        transition: all 0.5s ease;
      }
    }
    .input {
      width: 100%;
      height: 40px;
      border-radius: 15px;
      border: none;
      padding: 10px 20px;
      margin: 10px 0;
      outline: none;
      &:focus {
        box-shadow: 4px 10px 8px 0px rgba(34, 60, 80, 0.2);
        border: 1px solid rgba(34, 60, 80, 0.4);
      }
    }
    .errorBorder {
      border: 1px red solid;
    }
    .button {
      margin-top: 30px;
      width: 100%;
      border-radius: 15px;
      border: none;
      margin-bottom: 10px;
      padding: 13px 20px;
      background: rgba(46, 38, 86, 0.897);
      box-shadow: 4px 10px 8px 0px rgba(34, 60, 80, 0.2);

      color: #fff;
      font-size: 16px;
      transition: all 0.5s ease;
    }
  }
}

.error {
  opacity: 0;
  color: red;
  padding: 5px 0;
  font-size: 12px;
}

.showError {
  opacity: 1;
}
