.wrapper {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    color: var(--color);
    // margin: 20px;
  }
  .sortContent {
    display: flex;
    gap: 15px;
  }
}

.tasks {
  margin: 20px;
  display: flex;
  gap: 10px;
  .task {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 15px 15px 10px 15px;
    width: 33%;
    color: var(--color);

    .top {
      display: flex;
      justify-content: space-between;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e5e4f3;
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h4 {
          font-size: 12px;
        }
      }
      .users {
        position: relative;
        display: flex;
        width: 35%;

        img {
          position: absolute;
          border: 1px #fff solid;
          top: 0;
          right: 30;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          z-index: 2;
          &:nth-child(2) {
            position: absolute;
            top: 0;
            right: 50;
          }
          &:nth-child(3) {
            position: absolute;
            top: 0;
            right: 70;
          }
        }
        .img {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px #fff solid;
          background-color: #e4d9ea;
          top: 0;
          right: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    .progress {
      color: #fff;
      width: 100%;
      background-color: #c6c1e5;
      border-radius: 20px;
      overflow: hidden;
      height: 30px;
      .progressBar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      .left {
        display: flex;
        gap: 10px;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          height: 25px;
          width: 25px;
        }
      }
      .rigth {
        display: flex;
        gap: 6px;
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: #755ff2 1px solid;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          &:first-child {
            background-color: #755ff2;
          }
        }
      }
    }
  }
}
