.title {
  margin: 20px;
}
.tasks {
  margin: 20px;
  display: flex;
  gap: 10px;
  .task {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 15px 10px 15px;
    width: 33%;

    .top {
      display: flex;
      justify-content: space-between;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e5e4f3;
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h4 {
          font-size: 12px;
          width: 60px;
        }
      }
      .users {
        position: relative;
        display: flex;
        width: 35%;
        img {
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 20px;
          }
          &:nth-child(3) {
            position: absolute;
            top: 0;
            left: 40px;
          }
        }
      }
    }
    .progress {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      background-color: #755ff2;
      border-radius: 20px;
    }
    .bottom {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 5px;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        border: #755ff2 1px solid;
        height: 25px;
        width: 25px;
        border-radius: 50%;
      }
    }
  }
}
