.wrapper {
  width: 300px;
  position: relative;
  height: 38px;
  color: #444;
  background: transparent;
  border: 1px solid #bcbcbc;
  border-radius: 0;
  > select {
    width: 100%;
    height: 37px;
    background-color: #fff;
    border: 0;
    appearance: none;
    z-index: 1;
    > option {
      background-color: #fff;
      :checked {
        color: red;
      }
    }
  }
}
