.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3c3c3c69;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  .modal {
    border-radius: 10px;
    position: relative;
    padding: 30px;
    width: 400px;
    height: 300px;
    background-color: #fff;
    .closeBtn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .input {
          width: 150px;
          background-color: transparent;
          outline: none;
          border: #3c3c3c69 1px solid;
          border-radius: 10px;
          padding: 5px;
        }
      }
    }
  }
}
