$light-theme: (
  background-color: #fff,
  text-color: #333,
  // ... другие переменные для светлой темы
);

$dark-theme: (
  background-color: #333,
  text-color: #fff,
  // ... другие переменные для темной темы
);
