@import url(_variables.scss);

:root {
  --font-sans: "Poppins";
  --background-color: #fff;
  --background-main: #f6f4ff;
  --color: #000;
  --color-hover: #efeef3;
}

.dark {
  --background-color: #0f162c;
  --color: #f6f4ff;
  --background-main: #2f2b44;
  --color-hover: #fff2;
}

html,
body {
  display: flex;
  width: 100%;
  min-width: 320px;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  color: #000;
  background-color: var(--background-color);
  transition: background-color 100ms linear, color 100ms linear;
  font-family: var(--font-sans), Helvetica, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 60%;
  overflow-y: scroll;
  height: 100vh;
  // background-color: var(--background-main);
  transition: background-color 200ms linear;
}

.container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
}
