:root {
  --font-sans: "Poppins";
  --background-color: #fff;
  --background-main: #f6f4ff;
  --color: #000;
}

/* :root[data-theme="dark"] {
  --background-color: #2d2841;
  --background-main: #1b1b2c;
  --color: #000;
}
:root[data-theme="light"] {
  --background-color: #fff;
  --background-main: #f6f4ff;
  --color: #000;
} */

.dark {
  --background-color: #0f162c;
  --color: #f6f4ff;
  --background-main: #2f2b44;
}

/* .ligth {
  background-color: #fff;
  color: #000;
} */

html,
body {
  display: flex;
  width: 100%;
  min-width: 320px;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--color);
  background-color: var(--background-color);
  transition: background-color 100ms linear, color 100ms linear;
  font-family: var(--font-sans), Helvetica, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 55%;
  height: 100vh;
  background-color: var(--background-main);
  transition: background-color 200ms linear;
}

.task {
  background-color: var(--background-color) !important;
  color: #fff !important;
}
