:root {
  --background: #ffffff;
  --color: #000;
  --font-sans: "Poppins";
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  display: flex;
  width: 100%;
  min-width: 320px;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--color);
  background: var(--background);
  font-family: var(--font-sans), Helvetica, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  width: 55%;
  background-color: #f6f4ff;
  height: 100vh;
}
