.header {
  display: flex;
  justify-content: space-between;
  .nav {
    display: flex;
    gap: 10px;
  }
}

.main {
  margin: 50px 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  .banner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .title {
      width: 50%;
      text-align: center;
    }
    .img {
      position: relative;
      width: 50%;
      height: 60vh;
      object-fit: cover;
    }
  }
}
