.container {
  width: 18%;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0;
  color: #9f9f9f;
  h3 {
    font-weight: 500;
    color: var(--color);
  }
  .user {
    background-color: var(--background-main);
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    margin-bottom: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
    }
    .content {
      width: 75%;
      display: flex;
      align-items: center;
      padding-right: 5px;
      div {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 100%;
        :first-child {
          font-weight: 600;
          color: var(--color);
        }
        span {
          font-size: 12px;
        }
      }
      img {
        width: 15px;
        height: 15px;
        object-fit: cover;
      }
    }
  }

  .sidebar {
    > h3 {
      padding: 10px 0;
    }
    ul {
      list-style: none;
      li {
        padding: 10px;
        border-radius: 30px;
        width: 100%;
        a {
          display: flex;
          gap: 10px;
        }
        &:hover {
          color: #725cee;
        }
      }
      .active {
        background-color: #725cee;
        color: #fff;
        &:hover {
          color: #e6e0e0;
        }
      }
    }
  }
  .projects {
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #9f9f9f;
      background-color: inherit;
      cursor: pointer;
      &:hover {
        color: #725cee;
      }
    }
  }
}
