.sidebarContainer {
  width: 18%;
  display: flex;
  flex-direction: column;
  padding: 2% 20px;
  color: #9f9f9f;
  h3 {
    font-weight: 500;
    margin: 25px 0 5px 0;
    color: #dbdbdb;
  }
  .user {
    background-color: #f6f6f6;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
    }
    .userContent {
      width: 75%;
      display: flex;
      align-items: center;
      padding-right: 5px;
      div {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 100%;
        :first-child {
          font-weight: 600;
          color: #000;
        }
        span {
          font-size: 12px;
        }
      }
      img {
        width: 15px;
        height: 15px;
        object-fit: cover;
      }
    }
  }

  .sidebar {
    ul {
      list-style: none;
      li {
        padding: 10px 10px;
        border-radius: 30px;
        width: 100%;
        a {
          display: flex;
          gap: 10px;
        }
        &:first-child {
          background-color: #725cee;
          color: #fff;
        }
      }
    }
  }
  .projects {
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #9f9f9f !important;
      background-color: inherit !important;
    }
  }
}
