.dashboard {
  color: #000;
  display: flex;
  gap: 10px;
  .content {
    margin-top: 25px;
    margin-left: 20px;
    gap: 10px;
    .task {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px 20px 10px 10px;
      border-radius: 20px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      > div {
        width: 60%;
        h3 {
          font-size: 28px;
          font-weight: 500;
        }
        span {
          font-size: 13px;
        }
      }
      .imgWrapper {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        img {
          width: 70px;
          height: 60px;
        }
        > div {
          width: 100%;
          height: 13px;
          border-radius: 50%;
        }
      }
    }
  }
  .chartWrapper {
    background-color: #fff;
    border-radius: 20px;
    margin-top: 25px;
  }
}
