.select {
  position: relative;
  width: 150px;
  color: var(--color);
  .selected {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--background-main);
  }
  .options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: var(--background-main);
    border-radius: 10px;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s ease;
    .option {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: var(--color-hover);
      }
    }
    &.show {
      display: block;
      opacity: 1;
    }
  }
}
