.header {
  display: flex;
  justify-content: space-between;
  .nav {
    display: flex;
    gap: 10px;
  }
}

.main {
  margin: 50px 0;
  .banner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    .title {
      width: 50%;
      text-align: center;
    }
    .img {
      width: 50%;
    }
  }
}
