.header {
  display: flex;
  justify-content: space-between;
  .nav {
    display: flex;
    gap: 10px;
  }
}

.main {
  width: 100%;
  margin: 50px 0;
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .title {
      width: 50%;
    }
    .img {
      width: 50%;
    }
  }
}
